<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inspections</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button expand="full" (click)="postInspection()">New Inspection</ion-button>
  <ion-list>
    <ion-item *ngFor="let inspection of inspections; let i = index">
      <ion-thumbnail (click)="openModal(inspection.photo)">
        <img [src]="inspection.photo.dataUrl" />
      </ion-thumbnail>
      <ion-label>
        <p>Date: {{ inspection.photo.date | date: 'medium' }}</p>
        <p>Location: {{ inspection.location.latitud }}, {{ inspection.location.longitud }}</p>
        <p>Comment: {{ inspection.comment }}</p>
      </ion-label>
      <ion-button color="danger" (click)="deleteInspection(i)">Eliminar</ion-button>
    </ion-item>
  </ion-list>
  <ion-button color="success" expand="full" (click)="exportInspections()">Export Inspections</ion-button>
</ion-content>
